<h1>Snow Violations</h1>
10 January 2024

START BY READING MY NEW FILE

This analysis looks at 311 complaints filed as "Snow – Uncleared Sidewalk Complaint," or SWSNOREM.<br>
<br>
My analysis steps:
<ol>
<li><a href="#read">Read Data</a>
<li><a href="#ward">By Ward, 1-Year and 5-Year</a>
<li>Ward X
</ol>

<div style="color:red;">
    <h3>Preliminary Findings</h3>
<ul>
    <li>4165 W BERTEAU AVE has the most complaints (49), occurring between 11/13/19 to 2/18/21
        <li>The city began tracking complaints on 1/12/19, but data is missing between 1/1/23 and 1/12/23
            <li>complaints increased by 13% from 2021 to 2020 (the first two full years)
                <li>complaints increased by 11% from 2022 to 2021
                    <li>Wards vary from 1542 complaints in the 25th Ward (Sigcho-Lopez, Pilsen) to 88 complaints in the 27th Ward (Burnett, near west side)
</ul>
    </div>

<a name="read"></a>
# 1. Read Data

In [54]:
import pandas as pd
import requests
#import datetime as dt #would only need this if I manipulated dates post-API data retrieval

In [55]:
df = pd.read_csv("../data/311-snow-violations.csv")
df.head()

,SR_NUMBER,SR_SHORT_CODE,CREATED_DATE,STREET_ADDRESS,STATUS,ORIGIN,CLOSED_DATE,SR_TYPE,COMMUNITY_AREA,WARD,LATITUDE,LONGITUDE,year,month,date,season,AREA_NUMBE,COMMUNITY_NAME
0,SR22-00050149,SDO,2022-01-10 11:05:32,4151 W WASHINGTON BLVD,Completed,Mobile Device,2022-01-10 11:06:41,Ice and Snow Removal Request,26,28,41.881692,-87.730165,2022,1,2022-01-10,21-22,26,WEST GARFIELD PARK
1,SR21-00179282,SDO,2021-02-01 13:23:33,4100 W CARROLL AVE,Completed,Mobile Device,2021-02-01 21:10:54,Ice and Snow Removal Request,26,28,41.886833,-87.728424,2021,2,2021-02-01,20-21,26,WEST GARFIELD PARK
2,SR24-00033667,SWSNOREM,2024-01-06 09:47:03,4015 W ARTHINGTON ST,Completed,Phone Call,2024-01-08 09:57:27,Snow – Uncleared Sidewalk Complaint,26,24,41.869818,-87.726046,2024,1,2024-01-06,23-24,26,WEST GARFIELD PARK
3,SR21-00149624,SDO,2021-01-27 13:28:47,4500 W MAYPOLE AVE,Completed,Mobile Device,2021-01-27 19:18:47,Ice and Snow Removal Request,26,28,41.884790,-87.738237,2021,1,2021-01-27,20-21,26,WEST GARFIELD PARK
4,SR21-00194056,SDO,2021-02-03 14:07:31,212 N KENNETH AVE,Completed,Mobile Device,2021-02-03 15:56:32,Ice and Snow Removal Request,26,28,41.883930,-87.737341,2021,2,2021-02-03,20-21,26,WEST GARFIELD PARK

<a name="ward"></a>
# 2. By Community Area by 311 Type

In [56]:
df_community_by_type = df.pivot_table(index='COMMUNITY_NAME', columns='SR_TYPE', values='SR_NUMBER', aggfunc='size', fill_value=0)
df_community_by_type

SR_TYPE,Ice and Snow Removal Request,Snow - Object/Dibs Removal Request,Snow Removal - Protected Bike Lane or Bridge Sidewalk,Snow – Uncleared Sidewalk Complaint
COMMUNITY_NAME,,,,
ALBANY PARK,541,196,16,406
ARCHER HEIGHTS,207,256,0,60
ARMOUR SQUARE,66,55,16,80
ASHBURN,1514,81,1,109
AUBURN GRESHAM,1453,183,1,128
...,...,...,...,...
WEST LAWN,251,444,0,147
WEST PULLMAN,759,17,0,23
WEST RIDGE,505,202,5,818
WEST TOWN,1037,311,34,1628
WOODLAWN,406,40,0,123

In [57]:
df_community_by_type.to_csv("../results/311_community_by_type.csv")

# 3. Summary Stats for Uncleared Sidewalk Complaints

In [58]:
df_uncleared = df[(df['SR_SHORT_CODE']=='SWSNOREM') & (df['season'].isin(['19-20','20-21','21-22','22-23']))]
len(df_uncleared)

21079

### uncleared by season

In [59]:
df_by_season = df_uncleared.groupby('season').agg(complaints=('SR_NUMBER','count')).reset_index()
df_by_season

  season  complaints
0  19-20        6541
1  20-21        6494
2  21-22        6416
3  22-23        1628

### uncleared by type

In [60]:
df_by_type = df_uncleared.groupby('ORIGIN').agg(complaints=('SR_NUMBER','count')).reset_index()
df_by_type

                       ORIGIN  complaints
0           Alderman's Office         724
1                      E-Mail          22
2          Generated In House           1
3                    Internet        7068
4               Mobile Device        8260
5           Open311 Interface           1
6                  Phone Call        4818
7       Salesforce Mobile App          36
8  spot-open311-Chicago+Works          97
9    spot-open311-SeeClickFix          52

In [61]:
# consolidate other
df_uncleared['MODIFIED_ORIGIN'] = df_uncleared['ORIGIN'].replace(['E-Mail', 'Generated In House', 'Open311 Interface','Salesforce Mobile App','spot-open311-Chicago+Works','spot-open311-SeeClickFix'], 'Other')

/tmp/ipykernel_2114/2302404863.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uncleared['MODIFIED_ORIGIN'] = df_uncleared['ORIGIN'].replace(['E-Mail', 'Generated In House', 'Open311 Interface','Salesforce Mobile App','spot-open311-Chicago+Works','spot-open311-SeeClickFix'], 'Other')

In [62]:
df_by_type = df_uncleared.groupby('MODIFIED_ORIGIN').agg(complaints=('SR_NUMBER','count')).reset_index()
df_by_type

     MODIFIED_ORIGIN  complaints
0  Alderman's Office         724
1           Internet        7068
2      Mobile Device        8260
3              Other         209
4         Phone Call        4818

### uncleared by status

In [64]:
df_by_status = df_uncleared.groupby('STATUS')['SR_NUMBER'].agg('count').reset_index()
df_by_status

      STATUS  SR_NUMBER
0   Canceled        978
1  Completed      20041
2       Open         60