# Replace Department Names on Map
3/24/24

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../data/05-finalized/dockets-summary.csv")

In [3]:
df.head()

,docket,dept,violation_address,lat,long,community,ward_1523,violation_date,n_records
0,19DS68300L,STRTSAN,4710 S WESTERN AVE,41.807859,-87.68479703503766,BRIGHTON PARK,15,2019-11-13,2
1,19DS69216L,STRTSAN,1425 W MORSE AVE,42.0074513,-87.6668285,ROGERS PARK,49,2019-11-13,1
2,19DS70010L,STRTSAN,715 E 47TH ST,41.8093383,-87.6080127,GRAND BOULEVARD,4,2019-11-13,1
3,19DS72153L,STRTSAN,300 W WASHINGTON ST,41.8818694,-87.7401431,WEST GARFIELD PARK,28,2019-11-12,5
4,19DS72160L,STRTSAN,6929 N SHERIDAN RD,41.9598134,-87.654693,UPTOWN,46,2019-11-14,1

In [9]:
def dept_label(df):
    replacements = {
        'TRANPORT': 'CDOT',
        'STRTSAN': 'DSS',
        'POLICE': 'Police',
        'BAFCONP': 'BACP',
    }
    df['dept_label'] = df['dept'].replace(replacements)
    return df

In [10]:
df = dept_label(df)

In [11]:
df.head()

,docket,dept,violation_address,lat,long,community,ward_1523,violation_date,n_records,dept_label
0,19DS68300L,STRTSAN,4710 S WESTERN AVE,41.807859,-87.68479703503766,BRIGHTON PARK,15,2019-11-13,2,DSS
1,19DS69216L,STRTSAN,1425 W MORSE AVE,42.0074513,-87.6668285,ROGERS PARK,49,2019-11-13,1,DSS
2,19DS70010L,STRTSAN,715 E 47TH ST,41.8093383,-87.6080127,GRAND BOULEVARD,4,2019-11-13,1,DSS
3,19DS72153L,STRTSAN,300 W WASHINGTON ST,41.8818694,-87.7401431,WEST GARFIELD PARK,28,2019-11-12,5,DSS
4,19DS72160L,STRTSAN,6929 N SHERIDAN RD,41.9598134,-87.654693,UPTOWN,46,2019-11-14,1,DSS

In [12]:
#drop the one unknown record, for simplicity
df= df[df['dept']!='unknown']

In [13]:
df.to_csv("../../results/ssw02-fines/citations-map.csv",index=False)