# Review CDOT snow clearance fines
2/29/24
My goal here is to summarize ward-level data on CDOT fines in one place, to inform outreach to alders. I'm looking for strictly numbers here. I had done this previously with community areas

1) roll up to unique dockets
2) merge with snow complaints
3) calculate complaint to docket ratio
4) group by ward

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/03-geocoded/fines-joined-to-wards-2015.csv")
df

,Docket Number,Violation Date,Violation Address,Issuing Department Code,Imposed Fine Detailed,year,month,date,season,City,...,Corrected,result_num,osm_id,display_name,category,type,latlong,shape_area,shape_leng,ward
0,20DS75523L,2020/01/21,2042 W 47TH ST,STRTSAN,150,2020,1,2020/01/21,2019-2020,Chicago,...,NaN,0,209708590,"Pizza Hut, 2042, West 47th Street, New City, C...",amenity,restaurant,"41.80881765,-87.67630327540712",116096507.8,93073.34084,12.0
1,20DS75589L,2020/01/21,2000 W 47TH ST,STRTSAN,150,2020,1,2020/01/21,2019-2020,Chicago,...,NaN,0,209708304,"Burger King, 2000, West 47th Street, New City,...",amenity,fast_food,"41.8087474,-87.67544458314194",116096507.8,93073.34084,12.0
2,20DS75863L,2020/01/21,26251 W 47TH ST,STRTSAN,150,2020,1,2020/01/21,2019-2020,Chicago,...,NaN,0,435368173,"West 47th Street, New City, Chicago, Lake Town...",highway,secondary,"41.8084762,-87.6784627",116096507.8,93073.34084,12.0
3,20DT000588,2020/01/24,3479 S ARCHER,TRANPORT,0,2020,1,2020/01/24,2019-2020,Chicago,...,NaN,0,209712794,"3479, South Archer Avenue, Ducktown, McKinley ...",building,yes,"41.8305524,-87.67702026050725",116096507.8,93073.34084,12.0
4,20DT000588,2020/01/24,3479 S ARCHER,TRANPORT,150,2020,1,2020/01/24,2019-2020,Chicago,...,NaN,0,209712794,"3479, South Archer Avenue, Ducktown, McKinley ...",building,yes,"41.8305524,-87.67702026050725",116096507.8,93073.34084,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2552,19DS72153L,2019/11/12,300 W WASHINGTON ST,STRTSAN,150,2019,11,2019/11/12,2019-2020,Chicago,...,NaN,0,1106828776,"300, West Washington Street, West Chicago, DuP...",place,house,"41.882868,-88.210529",NaN,NaN,42.0
2553,19DS72153L,2019/11/12,300 W WASHINGTON ST,STRTSAN,500,2019,11,2019/11/12,2019-2020,Chicago,...,NaN,0,1106828776,"300, West Washington Street, West Chicago, DuP...",place,house,"41.882868,-88.210529",NaN,NaN,42.0
2554,21CP002398,2021/02/12,1850 W MARQUETTE ST,POLICE,0,2021,2,2021/02/12,2020-2021,Chicago,...,NaN,0,21858651,"Marquette Street, North Chicago, Lake County, ...",highway,residential,"42.3236639,-87.8381484",NaN,NaN,15.0
2555,21CP002398,2021/02/12,1850 W MARQUETTE ST,POLICE,50,2021,2,2021/02/12,2020-2021,Chicago,...,NaN,0,21858651,"Marquette Street, North Chicago, Lake County, ...",highway,residential,"42.3236639,-87.8381484",NaN,NaN,15.0
2556,21DT002747,2021/01/27,5450 S 47TH,TRANPORT,500,2021,1,2021/01/27,2020-2021,Chicago,...,NaN,0,24091595,"South 47th Avenue, Austin, Cicero, West Chicag...",highway,residential,"41.8654712,-87.7423005",NaN,NaN,NaN

In [7]:
df ['Docket Number'].nunique()

1913

In [61]:
df_dockets = df.groupby(['Docket Number','season','ward','Violation Date','Violation Address','Issuing Department Code']).size().reset_index()
df_dockets = df_dockets.rename(columns={'Docket Number':'docket','Issuing Department Code':'dept'})
df_dockets['ward'] = df_dockets['ward'].astype(int)
df_dockets

,docket,season,ward,Violation Date,Violation Address,dept,0
0,19DS68300L,2019-2020,15,2019/11/13,4710 S WESTERN AVE,STRTSAN,1
1,19DS69216L,2019-2020,49,2019/11/13,1425 W MORSE AVE,STRTSAN,1
2,19DS70010L,2019-2020,4,2019/11/13,715 E 47TH ST,STRTSAN,1
3,19DS72153L,2019-2020,42,2019/11/12,300 W WASHINGTON ST,STRTSAN,3
4,19DS72160L,2019-2020,46,2019/11/14,6929 N SHERIDAN RD,STRTSAN,1
...,...,...,...,...,...,...,...
1907,23DT000667,2022-2023,13,2023/01/31,5825 S PULASKI RD,TRANPORT,1
1908,23DT000668,2022-2023,13,2023/01/31,3959 W 58TH ST,TRANPORT,1
1909,23DT000669,2022-2023,23,2023/02/01,4122 W 63RD ST,TRANPORT,1
1910,23DT000940,2022-2023,23,2023/02/01,6501 W ARCHER,TRANPORT,1
1911,23DT000956,2022-2023,23,2023/03/23,5601 S NEWCASTLE,TRANPORT,2

In [112]:
df_ward_dockets = df_dockets.pivot_table(index='ward',
                             columns='dept',
                             values='docket',
                             aggfunc='count',
                             fill_value=0).reset_index()
df_ward_dockets.columns.name = None
df_ward_dockets['total_dockets']=df_ward_dockets['BAFCONP']+df_ward_dockets['POLICE']+df_ward_dockets['STRTSAN']+df_ward_dockets['TRANPORT']
df_ward_dockets.head()

   ward  BAFCONP  POLICE  STRTSAN  TRANPORT  total_dockets
0     1        0       0        1        61             62
1     2        0       0        0        64             64
2     3        0       0        0        90             90
3     4        0       0       21        75             96
4     5        0       0        1         7              8

In [113]:
# read and filter for only unshoveled sidewalk complaints
df_311 = pd.read_csv("../data/02-prepped/311-complaints-snow-all-types.csv")
df_311_unshoveled = df_311[df_311['SR_TYPE']=='Snow – Uncleared Sidewalk Complaint']
df_311_unshoveled

,SR_NUMBER,SR_SHORT_CODE,CREATED_DATE,STREET_ADDRESS,STATUS,ORIGIN,CLOSED_DATE,SR_TYPE,COMMUNITY_AREA,WARD,LATITUDE,LONGITUDE,year,month,date,season,GEOID,COMMUNITY_NAME
1,SR24-00092065,SWSNOREM,2024-01-16 07:54:03,2315 N LINCOLN PARK WEST,Completed,Mobile Device,2024-01-23 09:53:30,Snow – Uncleared Sidewalk Complaint,7,43,41.922495,-87.636906,2024,1,2024-01-16,2023-2024,7,Lincoln Park
5,SR24-00111171,SWSNOREM,2024-01-18 22:38:34,4305 S HALSTED ST,Completed,Mobile Device,2024-01-23 11:20:14,Snow – Uncleared Sidewalk Complaint,61,11,41.815935,-87.645451,2024,1,2024-01-18,2023-2024,61,New City
7,SR24-00112840,SWSNOREM,2024-01-19 09:51:46,2858 W 83RD ST,Completed,Phone Call,2024-01-23 08:44:07,Snow – Uncleared Sidewalk Complaint,70,18,41.742855,-87.694722,2024,1,2024-01-19,2023-2024,70,Ashburn
10,SR24-00116235,SWSNOREM,2024-01-19 15:28:42,2736 N HAMPDEN CT,Completed,Mobile Device,2024-01-23 11:52:31,Snow – Uncleared Sidewalk Complaint,7,43,41.931531,-87.642607,2024,1,2024-01-19,2023-2024,7,Lincoln Park
11,SR24-00116239,SWSNOREM,2024-01-19 15:29:37,2736 N HAMPDEN CT,Completed,Mobile Device,2024-01-23 11:52:31,Snow – Uncleared Sidewalk Complaint,7,43,41.931531,-87.642607,2024,1,2024-01-19,2023-2024,7,Lincoln Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71602,SR23-00304094,SWSNOREM,2023-02-26 16:55:36,1923 W ARGYLE ST,Completed,Mobile Device,2023-03-02 07:02:56,Snow – Uncleared Sidewalk Complaint,4,47,41.972274,-87.677352,2023,2,2023-02-26,2022-2023,4,Lincoln Square
71613,SR23-00298636,SWSNOREM,2023-02-25 07:30:17,3701 W CULLOM AVE,Completed,Mobile Device,2023-02-27 13:14:03,Snow – Uncleared Sidewalk Complaint,16,33,41.959062,-87.720777,2023,2,2023-02-25,2022-2023,16,Irving Park
71618,SR23-00303780,SWSNOREM,2023-02-26 15:20:57,2237 W GIDDINGS ST,Completed,Mobile Device,2023-02-27 11:29:07,Snow – Uncleared Sidewalk Complaint,4,47,41.967531,-87.685529,2023,2,2023-02-26,2022-2023,4,Lincoln Square
71620,SR23-00298980,SWSNOREM,2023-02-25 09:03:05,441 W BELDEN AVE,Completed,Mobile Device,2023-02-27 08:14:43,Snow – Uncleared Sidewalk Complaint,7,43,41.923494,-87.640641,2023,2,2023-02-25,2022-2023,7,Lincoln Park
71671,SR23-00449394,SWSNOREM,2023-03-23 19:35:03,222 E HURON ST,Completed,Phone Call,2023-03-24 11:25:45,Snow – Uncleared Sidewalk Complaint,8,2,41.895084,-87.621822,2023,3,2023-03-23,2022-2023,8,Near North Side

In [114]:
df_ward_311 = df_311_unshoveled.groupby('WARD').size().reset_index(name='n_311')
df_ward_311 = df_ward_311.rename(columns={'WARD':'ward'})
df_ward_311.head()

   ward  n_311
0     1   1270
1     2    785
2     3    456
3     4    510
4     5    284

In [115]:
df_merge = pd.merge(df_wards,df_ward_311)
df_merge.head()

   ward  BAFCONP  POLICE  STRTSAN  TRANPORT  n_311
0     1        0       0        1        61   1270
1     2        0       0        0        64    785
2     3        0       0        0        90    456
3     4        0       0       21        75    510
4     5        0       0        1         7    284

In [116]:
df_merge['fine_ratio']=df_merge['TRANPORT']/df_merge['n_311']

In [117]:
df_merge

    ward  BAFCONP  POLICE  STRTSAN  TRANPORT  n_311  fine_ratio
0      1        0       0        1        61   1270    0.048031
1      2        0       0        0        64    785    0.081529
2      3        0       0        0        90    456    0.197368
3      4        0       0       21        75    510    0.147059
4      5        0       0        1         7    284    0.024648
5      6        0       1       53         7    213    0.032864
6      7        0       0        6         3    119    0.025210
7      8        0       0        0        11    241    0.045643
8      9        0       0        1         9     91    0.098901
9     10        0       0        0         9    134    0.067164
10    11        0       0        2        81    398    0.203518
11    12        0       0        3        22    220    0.100000
12    13        0       1        2        26    145    0.179310
13    14        0       1        7        39    251    0.155378
14    15        0       3      161         7    123    0.056911
15    16        0       6       88         8    117    0.068376
16    17        0       1        9        10    169    0.059172
17    18        0       0        0         4    141    0.028369
18    19        0       0        0         2    176    0.011364
19    20        2       3        3         3    225    0.013333
20    21        0       0        1        15    124    0.120968
21    22        0       0        2        10    209    0.047847
22    23        0       2        0        85    278    0.305755
23    24        0       0        0        12    192    0.062500
24    25        0       0       16        43    540    0.079630
25    26        0       0        1        18    677    0.026588
26    27        0       0        0       103    808    0.127475
27    28        0       0       14        32    337    0.094955
28    29        0       2        0        21    159    0.132075
29    30        0       1       10         7    493    0.014199
30    31        0       0        3        40    319    0.125392
31    32        0       0        1        93   1583    0.058749
32    33        0       0        5        20    616    0.032468
33    34        0       2        3         9    106    0.084906
34    35        0       0        0        21    425    0.049412
35    36        0       2        3        40    292    0.136986
36    37        0       0        0        28    126    0.222222
37    38        0       0        0         3    385    0.007792
38    39        0       0        0        11    647    0.017002
39    40        0       0       27        35    862    0.040603
40    41        0       0        1         0    323    0.000000
41    42        0       0        3        51    441    0.115646
42    43        0       0        2       102    935    0.109091
43    44        0       0        7         3   1002    0.002994
44    45        0       0        8        14    503    0.027833
45    46        0       0        1         2    829    0.002413
46    47        0       0        1        12   1571    0.007638
47    48        0       0        0         2    622    0.003215
48    49        0       0       29         5    552    0.009058
49    50        0       0        1        13    661    0.019667

In [118]:
df_merge.to_csv("../results/fines-to-311-complaints-by-ward.csv", index=False)