# Replace Department Names on Map
3/24/24

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../data/05-finalized/dockets-summary.csv")

In [3]:
df.head()

,docket,dept,violation_address,lat,long,community,ward_1523,violation_date,n_records
0,19DS68300L,STRTSAN,4710 S WESTERN AVE,41.807859,-87.68479703503766,BRIGHTON PARK,15,2019-11-13,2
1,19DS69216L,STRTSAN,1425 W MORSE AVE,42.0074513,-87.6668285,ROGERS PARK,49,2019-11-13,1
2,19DS70010L,STRTSAN,715 E 47TH ST,41.8093383,-87.6080127,GRAND BOULEVARD,4,2019-11-13,1
3,19DS72153L,STRTSAN,300 W WASHINGTON ST,41.8818694,-87.7401431,WEST GARFIELD PARK,28,2019-11-12,5
4,19DS72160L,STRTSAN,6929 N SHERIDAN RD,41.9598134,-87.654693,UPTOWN,46,2019-11-14,1

In [4]:
def dept_label(df):
    replacements = {
        'TRANPORT': 'CDOT',
        'STRTSAN': 'DSS',
        'POLICE': 'Police',
        'BAFCONP': 'BACP',
    }
    df['dept_label'] = df['dept'].replace(replacements)
    return df

In [5]:
df = dept_label(df)

In [6]:
df.head()

,docket,dept,violation_address,lat,long,community,ward_1523,violation_date,n_records,dept_label
0,19DS68300L,STRTSAN,4710 S WESTERN AVE,41.807859,-87.68479703503766,BRIGHTON PARK,15,2019-11-13,2,DSS
1,19DS69216L,STRTSAN,1425 W MORSE AVE,42.0074513,-87.6668285,ROGERS PARK,49,2019-11-13,1,DSS
2,19DS70010L,STRTSAN,715 E 47TH ST,41.8093383,-87.6080127,GRAND BOULEVARD,4,2019-11-13,1,DSS
3,19DS72153L,STRTSAN,300 W WASHINGTON ST,41.8818694,-87.7401431,WEST GARFIELD PARK,28,2019-11-12,5,DSS
4,19DS72160L,STRTSAN,6929 N SHERIDAN RD,41.9598134,-87.654693,UPTOWN,46,2019-11-14,1,DSS

In [7]:
#drop the one unknown record, for simplicity
df= df[df['dept']!='unknown']

In [8]:
df.to_csv("../../results/ssw02-fines/citations-map.csv",index=False)

# Extract Englewood Wards only

In [13]:
df_englewood = df[df['ward_1523'].isin(['6', '15', '16', '17', '20'])]

In [14]:
df_englewood

,docket,dept,violation_address,lat,long,community,ward_1523,violation_date,n_records,dept_label
0,19DS68300L,STRTSAN,4710 S WESTERN AVE,41.807859,-87.68479703503766,BRIGHTON PARK,15,2019-11-13,2,DSS
5,19DS72172L,STRTSAN,2646 W 47TH ST,41.80841619044246,-87.6909019306209,BRIGHTON PARK,15,2019-11-13,2,DSS
6,19DS72178L,STRTSAN,2607 W 47TH ST,41.808159450000005,-87.68969175000001,BRIGHTON PARK,15,2019-11-13,1,DSS
10,19DS72224L,STRTSAN,2605 W 47TH ST,41.80827320712282,-87.68961443158123,BRIGHTON PARK,15,2019-11-13,2,DSS
11,19DS72255L,STRTSAN,2509 W 47TH ST,41.807998350000005,-87.68742976581026,BRIGHTON PARK,15,2019-11-13,2,DSS
...,...,...,...,...,...,...,...,...,...,...
1848,23DT000416,TRANPORT,3110 W 61ST ST,41.78272092670012,-87.70120466499394,CHICAGO LAWN,16,2023-01-24,1,CDOT
1849,23DT000417,TRANPORT,3110 W 61ST ST,41.78272092670012,-87.70120466499394,CHICAGO LAWN,16,2023-01-26,1,CDOT
1850,23DT000418,TRANPORT,3110 W 61ST ST,41.78272092670012,-87.70120466499394,CHICAGO LAWN,16,2023-01-19,1,CDOT
1851,23DT000422,TRANPORT,3110 W 61ST ST,41.78272092670012,-87.70120466499394,CHICAGO LAWN,16,2023-01-17,1,CDOT
1852,23DT000423,TRANPORT,3110 W 61ST ST,41.78272092670012,-87.70120466499394,CHICAGO LAWN,16,2023-01-25,1,CDOT

In [15]:
df_englewood.to_csv("../../results/ssw02-fines/citations-map-englewood.csv",index=False)